# Google Gemini API Key
GOOGLE_API_KEY=

# MCP Server Configuration
MCP_SERVER_URL=http://localhost:8000/sse
MCP_SERVER_NAME=mherb_mcp_server
MCP_TRANSPORT=sse

# Logging Configuration
LOG_LEVEL=INFO

# Agent Configuration
AGENT_MODEL=gemini-2.5-flash
AGENT_TEMPERATURE=0.5
AGENT_MAX_TOKENS=4096